<h1>Users</h1>
<button class="btn btn-primary" (click)="add()">Add User</button>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users|async">
            <td>{{user.data.name}}</td>
            <td>{{user.data.email}}</td>
            <td>
                <a [routerLink]= "['/add', user.id]">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
            <td>
                <a>
                    <i class="fas fa-trash" (click)="delete(user.id, user.data.name)"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>